<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ModelAdd</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/typ">Typ</a></li>
    <li role="presentation"><a href="/model">Model</a></li>
    <li role="presentation"><a href="/user">Uzytkownicy</a></li>
</ul>

<h1>Dodaj Nowy Model </h1>
<div>
    <form  th:action="@{/auto/add}" th:object="${auto}" method="post">
        <input type="hidden" th:field="*{id}" />

        <p>
            <select th:field="*{model}">
                <option th:each="model: ${models}"
                        th:value="${model.id}"
                        th:text="${model}">Model</option>
            </select>
        </p>
        <p>
            <select th:field="*{user}">
                <option th:each="user: ${users}"
                        th:value="${user.id}"
                        th:text="${user}">User</option>
            </select>
        </p>
        <p><input type="submit" value="Połącz Użytkownika z Autem" /></p>

    </form>
</div>

</body>
</html>