<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TypAll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<section style="background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 250, 0.5));">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/home">Home</a></li>
        <li role="presentation"><a href="/typ">Typ</a></li>
        <li role="presentation"><a href="/model">Model</a></li>
        <li role="presentation"><a href="/user">Uzytkownicy</a></li>
        <li role="presentation"><a href="/auto">Połącz Auto - User</a></li>
        <li role="presentation"><a href="/auto/all">Flota</a></li>
    </ul>
</section>

<section style="background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 150,255, 0.5));">
<h1>Wszystkie rodzaje Typu </h1>

<div class="container">

    <div class="row">

        <div class="col-xs-12">

            <table class="table table-bordered table-hover table-custom">

                <tr class="success">

                    <th>Id</th>

                    <th>Imie</th>
                    <th>Nazwisko</th>
                    <th>Dostepne Srodki</th>
                    <th>Nr. Tel</th>

                </tr>

                <tr th:each="user : ${users}">

                    <td th:text="${user.id}"></td>

                    <td th:text="${user.userName}"></td>

                    <td th:text="${user.userSurname}"></td>

                    <td th:text="${user.cash}"></td>

                    <td th:text="${user.phoneNumber}"></td>

                </tr>

            </table>

        </div>

    </div>

</div>
</section>
</body>
</html>